@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .layoutHeader {
    width: 50vh;
  }
}
.LayoutMenu {
}
.LayoutLogo {
  width: 10vw;
}
.headLogo {
  font-family: "Agbalumo", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
}
